.detail-track-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  width: 80vw;
}

.sidebar {
  width: 30%;
}

.sidebar img {
  width: 100%;
  height: 100%;
}

.body-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Add more CSS styles as needed */
